<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div class="badge"><span>ID: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    </div>
    <div>
      <label for="hero-power">Powers: </label>
      <ul>
        <li *ngFor="let power of hero.superpoderes">
          <app-power-detail [power]="power"></app-power-detail>
          <button type="button" class="delete" title="delete hero"
          (click)="removePower(power)">remove</button>
        </li>
      </ul>
    </div>
    <button (click)="mostrarPower = !mostrarPower">Add powers</button>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
  <div *ngIf="mostrarPower">
    <app-power-detail></app-power-detail>
  </div>
</div>